<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>刘浩的网页</title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<div class="container">
<div class="center_div">
<h1 >hello word</h1>
<p style="font-size:30px">.筛选名: class筛选<br>
						   #筛选名字: id筛选
						   </p>
</div>
</div>
<h2 id="paral">Hello world!
	<p2 id="paral">text-fj</p2>
</h2>
<h3 class="center">这个标题不受影响</h3>
<p class="center">这个段落居中对其</p>
<h4 style="text-align:center">Css font-family</h4>
<p class="serif">这一段的字体是 Times New Roman</p>
<p class="sansserif">这一段的字体是 Arial</p>
<p class="narmal" style="background-color:blue">This is a paragraph, normal.</p>
<p class="italic" style="background-color:green">This is a paragraph, italic.</p>
<p class="oblique" style="background-color:yellow">This is a paragraph, oblique.</p>

<p><b><a href="http://www.baidu.com/" target="_blank">这是一个链接</a></b></p>
<p><b>注意：</b>a:hover 必须在 a:link 和 a:visited 之后，需要严格按顺序才能看到效果。</p>
<p><b>注意：</b>a:active 必须在 a:hover 之后。</p>

<p><b><a href="http://www.taobao.com/" target="_blank">This is a link</a></b></p>
<p><b>注意:</b> hover必须在:link和 a:visited之后定义才有效.</p>
<p><b>注意:</b>active必须在hover之后定义是有效的.</p>

<p><b><a href="http://www.tianmao.com/" target="_blank">This is a link</a></b></p>
<p><b>注意:</b> hover必须在:link和 a:visited之后定义才有效.</p>
<p><b>注意:</b>active必须在hover之后定义是有效的.</p>
<br>
<p>无序列表的实例</p>
<ul class="a">
	<li>Coffee</li>
	<li>Tea</li>
	<li>Coca cola</li>
</ul>
<ul class="b">
	<li>Coffee</li>
	<li>Tea</li>
	<li>Coca Cola</li>
</ul>
<p>有序列表实例</p>
<ol class="c">
	<li>Coofee</li>
	<li>Tea</li>
	<li>Coca cola</li>
</ol>
<ol class="d">
	<li>Coofee</li>
	<li>Tea</li>
	<li>Coca colo</li>
</ol>
<ul>
	<li>Coffee</li>
	<li>Tea</li>
	<li>Coca cola</li>
</ul>
<table>
	<tr>
	<th>Firstname</th>
	<th>Lastname</th>
	</tr>
<tr>
	<td>Peter</td>
	<td>Griffin</td>
</tr>
<tr>
<td>Lois</td>
<td>Griffin</td>
</tr>
</table>
<table align="center" class="a">
<tr>
	<th class="a">Firstname</th>
	<th class="a">Lastname</th>
</tr>
<tr>
	<td class="a">Peter</td>
	<td class="a">Griffin</td>
</tr>
<tr>
	<td class="a">Lois</td>
	<td class="a">Griffin</td>
</tr>
</table>
<p><b>注意：</b>如果没有指定 !DOCTYPE BORDER-collapse 属性在 IE8 及更早 IE 版本中是不起作用的。</p>
<table align="center" class="b">
<tr>
	<th class="b">Firstname</th>
	<th class="b">Lastname</th>
	<th class="b">Saving</th>
</tr>
<tr>
	<td class="b">Peter</td>
	<td class="b">Griggin</td>
	<td class="b">$115</td>
</tr>
<tr>
	<td class="b">Lois</td>
	<td class="b">Griffin</td>
	<td class="b">$300</td>
</tr>
<tr>
	<td class="b">Cleveland</td>
	<td class="b">Brown</td>
	<td class="b">$250</td>
</tr>
</table>
</body>
</html>