<!DOCTYPE html>
<html>
<head>
  
  <style 
  type="text/css">
  body {
  	background-image:url("../liu/2016-09-04 22-07-54屏幕截图.png");
  	background-repeat:repeat-y:100px;
  	
  	background-color:yellow;
  	margin-right:50px;
  	}
  p {color:black}
  a {color:yellow}
  h1 {color:blue}
  form {color:blue;}
  </style>
  <link rel="stylsheet" type="text/css" href="style.css"> 
  <meta charset="utf-8">
  <base href="www.baidu.com">
	<title>liuhao</title>
</head>
<body style="background-image:url(../liu/2016-09-04 22-07-54屏幕截图.png);background-repeat:repeat-y;">
<h1 style="font-family:verdana;font-size:10px">我使用了外部样式文件来格式化文本</h1>
<p style="margin-left:200px;">this is a paragraph</p>
<del>fjkfjkgjldlsjkg</del><ins>fjkfjgeii3999</ins>
<br>
<a href="int.html">fjkfj</a>
<a id = "tips">fjkfj</a>
<p>
<img src="../liu/2016-09-04 22-07-54屏幕截图.png" width ='325' height='352'>
<a href="http://www.baidu.com/" >HGJFGHFGFJF</a>我使用了外部样式文件来格式化文本
<h4>jfkjg</h4>
<table border="1">
<tr>
<td colspan="2">name</td>
<td>telephone</td>
<td>Telephone</td>
</tr>
<td>Bill Gates</td>
<td>555 77 854 4545</td>
</table>
<table border="1">
<tr>
	<td>
	<p>zheshiyigeduanluo</p>
	<p>zheshiyigebiaoqian</p>
	</td>
	<td>zhegedanyuanbaohanyigebiaoge:
	    <table border="1">
	    <tr>
	    <td>A</td>
	    <td>B</td>
	    </tr>
	    <tr>
	    <td>C</td>
	    <td>D</td>
	    </tr>
	    </table>
	    </td>
</tr>
</p>

<table border='1'>
<tr>
	<td>First</td>
	<td>Row</td>
</tr>
<tr>
    <td>Second</td>
    <td>Row</td>
</tr>
</table>

<h5>youdanyuangebiankuang</h5>
<table border="1" cellpadding="50">
<tr>
   <td>Fist</td>
   <td>Row</td>
</tr>
<tr>
	<td>Second</td>
	<td>Row</td>
</tr>
<tr>
	<td>First</td>
	<td>Row</td>
</tr>
<tr>
	<td>Second</td>
	<td>Row</td>
</tr>
</table>
<h6></h6>
<table border="1">
<tr>
	<td>First</td>
	<td>Row</td>
</tr>
<tr>
	<td>Second</td>
	<td>Row</td>
</tr>
</table>
<h1></h1>
<table border="1" cellspacing="50">
<tr>
	<td>First</td>
	<td>Row</td>
</tr>
<tr>
	<td>Second</td>
	<td>Row</td>
</tr>
</table>

<table border="1" cellspacing="10">
<tr>
	<td>First</td>
	<td>Row</td>
</tr>
<tr>
	<td>Second</td>
	<td>Row</td>
</tr>
</table>
<h2></h2>
<ol>
	<li>apples</li>
	<li>bananas</li>
	<li>lemons</li>
	<li>Oranges</li>
	<li>jfkf</li>
</ol>
<h2></h2>
<ol type="A">
	<li>apples</li>
	<li>bannanas</li>
	<li>lemons</li>
	<li>Oranges</li>
	<li>fjkj</li>
</ol>
<h2></h2>
<ol type="a">
	<li>apples</li>
	<li>bannanas</li>
	<li>lemons</li>
	<li>oranges</li>
	<li>fkjf</li>
</ol>
<h4><h4>
<ul style="list-style-type:disc">
	<li>apples</li>
	<li>bananas</li>
	<li>lemons</li>
	<li>Oranges</li>
	<li>fjkf</li>
</ul>
<h3></h3>
<ul style="list-style-type:circle">
	<li>apples</li>
	<li>bananas</li>
	<li>lemons</li>
	<li>Oranges</li>
</ul>
<h3></h3>
<ul style="list-style-type:square">
	<li>apples</li>
	<li>bananas</li>
	<li>lemons</li>
	<li>orianges</li>
</ul>
<ul>
	<li>Cooffee</li>
	<li>tea
		<ul>
			<li>black tea
			<ul>
				<li>fjkfj</li>
				<li>fjkg</li>
			</ul>
			</li>
			<li>green tea</li>
		</ul>
	</li>
	<li>milk</li>
</ul>
<h3></h3>
<dl>
	<dt>coffee</dt>
	<dd>-black hot drink</dd>
	<dt>milk</dt>
	<dd>===wjkfjk</dd>
</dl>

<div id="container" style="width:500px">
<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">zhuyaodewangyebiaoti</h1></div>
<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
<b>caidan</b><br>
html<br>
Css<br>
javascript</div>

<div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">neironzaizheli</div>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
<a href="http://www.baidu.com/">jfkfroun.com</a></div>
</div>
<br>
<br>
<p1>First name: <input type="text" name="firstname"><br>
	 Last name: <input type="text" name="lastname">
</p1>
<form>
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female
</form>   #fjfk
<form>
<input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
<input type="checkbox" name="cehicle" value="car">I have a car
</form>
<h1 name="input" action="hgig.html" method="get">
 Username:<input type="text" name="user">
 <input type="submit" value="打印">
 </h1>
<br>
<form action="">
<select name="cars">
<option value="volvo">Volvo</option>
<option value="saab">Saab</option>
<option value="fiat">fiat</option>
<option value="audi">Audi</option>
</select>gjg
</form>
<textarea rows="10" cols="30">
fjgkjk</textarea>
<form action="">
<input type="button" value="注释">
</form>
<br>
<br>
<form action="" size="50">
<fieldset>
<legend>Personal information:</legend>
Name:<input type="text" size="30"><br>
E-mail:<input type="text" size="30"><br>
Data of birth:<input type="text" size="10">
</fieldset>
<form action="static" method="get">
First name:<input type="text" name="firstName" value="micken"><br>
Last name:<input type="text" name="Lastname" value="micah"><br>
<input type="submit" value="确认">
</form>
<form action="static" method="get">
	<input type="checkbox" name="vehicle" value="Bike">I have a bike><br>
	<input type="checkbox" name="vehicle" value="car" checked="checked">I have a car<br>
	<input type="submit" value="提交">
</form>
<form action="static" method="get">
<input type="radio" name="sex" value="male" checked="checked">Male<br>
<input type="radio" name="sex" value="maleale" >Female<br>
<input type="submit" value="登陆">
</form>
<form action="MAILTO:1020193131@qq.com" method="post" enctype="text/plan">Name:<br>
<input type="text" name="name" value="yourname"><br>
E-mail:<br>
<input type="text" name="name" value="your email"><br>
Comment:<br>
<input type="text" name="name" value="your comment"><br>
<input type="submit" value="发送">
<input type="reset" value="重置">
</form>
<iframe src="../liu/2016-09-04 22-07-54屏幕截图.png" width="200" height="200">ffghjg</iframe>
<iframe src="../liu/2016-09-04 22-07-54屏幕截图.png" frameborder="0" name="iframe_a"></iframe>
<form>
<iframe src="../liu/2016-09-04 22-07-54屏幕截图.png" name="iframe_a"></iframe>
<p><a href="http://www.baidu.com" target="iframe_a">百度</a></p>
<script>
document.write('hello,word')
document.write("<p>这是一个段落.</p>")
document.getElementById('demo').style.color="#ff0000";
</script> 
<noscript>抱歉，你的浏览器不支持 javaScript!</noscript>
<button type="button" onclick="myFunction()">点我</button>
<h2>我的第一段javascript</h2>
<p id="demo">
JavaScrip 能改变 html 元素的样式。</p>
<script>
function myFunction()
{
	x=document.getElementById("demo")
	x.style.color="#ff0000";
}
</script>
<button type="button" onclick="myFunction()">点击这里</button>
<h11>我的第一个javascript</h11>
<p id="demo">javascript 可以激发事件，就像按钮点击</p>
<script>
function 1myFunction()
{
	document.getElementById('demo').innerHTML="hello javascript";
}
</script>
<button type="button" onclick="1myfunction()">点我</button>


</body>
</html>