<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name="viewport"
content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="Ui-YvFJXvNBtH5x93dmv4981uBCqXLRjQMtmLuWDniY" />
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?573762a6a6b33210fac8edc747fefb55";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>

<meta name="description" content="monklof's blog: freedom, open, share and act">

<link rel="icon" href="/static/images/zuolo-icon-32px.png?v=3d38efb4d0c7ec347e0577b5b84aa52b">
<title>博客 | Monklof思考和写字的地方</title>
<link rel="stylesheet" href="/static/css/style.css?v=1976ae33c622eca7461b4f84d0f95bef">

</head>
<body>
<div class=container>
<div class=header>
<a href="/about/">Monklof</a>思考和写字的地方
</div>
<div class=navigation>
<ul>
<li><a href="/">博客</a></li>
<li><a href="/archive/">归档</a></li>
<li><a href="/tag/">标签</a></li>
<li><a href="/geeks/">极客</a></li>
<li><a href="/about/">关于</a></li>
</ul>
</div>
<div class=body>

<div class=entry-wrapper>

<div class=entry-overview>
<div class="date hide-sm">2016-01-23</div>
<div class=detail><h1>
<a href="/post/20/">创建高质量Python工程(2)-Python代码检查与调试技巧</a></h1>

</div>
</div>

<div class=entry-overview>
<div class="date hide-sm">2016-01-08</div>
<div class=detail><h1>
<a href="/post/19/">创建高质量Python工程(1)-如何设计结构清晰的目录结构</a></h1>

</div>
</div>

<div class=entry-overview>
<div class="date hide-sm">2016-01-06</div>
<div class=detail><h1>
<a href="/post/18/">《创建高质量的Python项目》文章系列序</a></h1>

</div>
</div>

<div class=entry-overview>
<div class="date hide-sm">2015-05-21</div>
<div class=detail><h1>
<a href="/post/14/">总结 - Linux初始化过程（init系统）</a></h1>

</div>
</div>

<div class=entry-overview>
<div class="date hide-sm">2015-03-31</div>
<div class=detail><h1>
<a href="/post/10/">服务器被黑之后的心路历程</a></h1>

</div>
</div>

<div class=entry-overview>
<div class="date hide-sm">2015-01-10</div>
<div class=detail><h1>
<a href="/post/7/">记一个有关python全局变量和局部变量的有趣问题</a></h1>

</div>
</div>

<div class=entry-overview>
<div class="date hide-sm">2014-12-19</div>
<div class=detail><h1>
<a href="/post/3/">Tornado模板系统实现方式</a></h1>

</div>
</div>

</div>
<div class=pagination>

<span class=disabled>&laquo; 上一页</span>

— <strong>1</strong> —

<span class=disabled>&raquo; 下一页</span>

</div>

</div>
<div class=footer>
Powered by <a class="white" href="http://www.tornadoweb.org/en/stable/">Tornado</a>, Code by <a href="http://monklof.com" class="white">Monklof</a>, Theme by <a href="http://lucumr.pocoo.org/about/">Armin Ronacher</a>
</div>
<script src="/static/js/jquery.min.js?v=8fc25e27d42774aeae6edbc0a18b72aa"></script>
<script>
window.dataObj = new Object();
window.dataObj._xsrf = "2|67d0d8fb|64765da4f6a684240a26470559ced8c0|1473153315";
jQuery.postJson = function(url, args, successCall, errorCall){
$.ajax({
type:"post",
url:url,
data:JSON.stringify(args),
contentType:"application/json; charset=UTF-8",
success:successCall,
error:errorCall
});
}
</script>

</body>
</html>